@model OHSB.Domain.AuditoriumMaster.AuditoriumEntity
@{
    ViewData["Title"] = "AddAuditorium";
    Layout = "~/Views/Shared/_LayoutDynamic.cshtml";
}


<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <a class="nav-item nav-link active"asp-controller="AuditoriumMaster"asp-action="AddAuditorium">Add</a>
                    <a class="nav-item nav-link"asp-controller="AuditoriumMaster"asp-action="ViewAuditorium">View</a>
                </ul>
                <div class="indicatorslist">
                    <a title="" href="javascript:void(0)" id="backIcon" data-toggle="tooltip" data-placement="top" data-original-title="Back"><i class="icon-arrow-left1"></i></a>
                    <p class="ml-2">(*) Indicates mandatory </p>
                </div>
            </div>
            @*//  BASIC FORM ELEMENTS
                //  ===================================================*@

            <div class="card-body">
                <div class="form-group col-md-4">
                    <input id="hdnAuditoriumID" class="form-control" hidden />
                </div>
                <div class="form-group row">
                    <div class="col-12 col-md-4 col-xl-4">
                        <label class="control-label" for="AuditoriumName">Auditorium Name<span class="text-danger">*</span></label>
                        <input id="txtAuditoriumName" class="form-control" />
                        <span id="lblErrorName" style="color:red"></span>
                    </div>
                </div>
                @*<div class="form-group row">
                    <div class="col-12 col-md-4 col-xl-4">
                        <label class="control-label" for="SeatNo">Seat No<span class="text-danger">*</span></label>
                        <input id="txtSeatNo" class="form-control" />
                        <span id="lblerrorprice" style="color:red"></span><br />
                    </div>
                </div>*@              
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label"></label>
                    <div class="col-12 col-md-6 col-xl-4 justify-content-center">
                        <button class="btn btn-primary mb-1" id="btnSubmit">Submit</button>
                        <button class="btn btn-danger mb-1" id="btnCancel">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/validation/validation.js"></script>
<script>
    $(document).ready(function () {
        //breadcumb
        loadNavigation('AddAuditorium', 'gldata', 'plsubmission', 'AddAuditorium', '', 'AddAuditorium');
        var AuditoriumID = getUrlVars()["AuditoriumID"];
        if (AuditoriumID != undefined) {
            $("#btnSubmit").html("Update");
            $("#btnCancel").html("Cancel");
            Edit(AuditoriumID)
        }

    });

</script>

<script type="text/javascript">

    $("#btnSubmit").click(function () {
        var doc = {
            AuditoriumID: $("#hdnAuditoriumID").val(),
            AuditoriumName: $("#txtAuditoriumName").val()
            //SeatNo: $("#txtSeatNo").val()
            
        };

        if (validate()) {
            if (confirm("Are you sure you want to Submit ?")) {
                $.ajax({
                    url: "/AuditoriumMaster/AddAuditorium",
                    data: doc,
                    type: "POST",
                    success: function (result) {
                        if (getUrlVars()["AuditoriumID"] != undefined) {
                            alert(result)
                            location.href = "/AuditoriumMaster/ViewAuditorium";
                        }
                        else
                            alert(result);
                        location.href = "/AuditoriumMaster/ViewAuditorium";
                        reset();

                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }

        }

    });



    $("#btnCancel").click(function () {
        if ($("#hdnAuditoriumID").val() != '') {
            window.location.href =  "/AuditoriumMaster/ViewAuditorium";
        }
        else
            reset();
    })
    function reset() {
        $('#hdnAuditoriumID').val("");
        $("#txtAuditoriumName").val("");
       // $("#txtSeatNo").val("");


    }

    //UPDATE
    function Edit(AuditoriumID) {
        $.ajax({
            url: "/AuditoriumMaster/Getbyid?AuditoriumID=" + AuditoriumID,
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (Result) {
                $('#hdnAuditoriumID').val(Result.AuditoriumID);
                $("#txtAuditoriumName").val(Result.AuditoriumName);
               // $('#txtSeatNo').val(Result.SeatNo);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }
   // validation
    function validate() {
    if ($('#txtAuditoriumName').val() == "") {
            alert("Please Enter Auditorium!");
        $('#txtAuditoriumName').focus();
            return false;
        }
        else
            return true;
    }
   

</script>

