@model OHSB.Domain.ScreenMap.ScreenMapEntity
@{
    ViewData["Title"] = "ViewScreenMapp";
    Layout = "~/Views/Shared/_LayoutDynamic.cshtml";
    var ResultData = ViewBag.Result as List<OHSB.Domain.ScreenMap.ScreenMapEntity>;
}
<html>
<h1></h1>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .btn {
            border: none;
            outline: none;
            padding: 5px 10px;
            background-color: #f1f1f1;
            cursor: pointer;
            font-size: 18px;
        }
            .active, .btn:hover {
                background-color: green;
                color: red;
            }
        .spacing {
            padding: 0 0px;
        }

        .card {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
             gap: 20px;
            gap: 2%;
            background-color: white;
        }
        
    </style>
</head>
<body>
    <div class=" ">
        <div class="">
            @{
                int Count = 1;
                int rate = 4;
            }
            @foreach (var list in ResultData)
            {

                <div class="k-card k-card-type-rich" style="background-color:aqua;width:230px" onclick="OpenACC(this)">
                    <img src="https://media.istockphoto.com/id/157334256/photo/empty-auditorium-with-grey-seats-and-downlights.jpg?s=612x612&w=0&k=20&c=TU4bgRGuDDPQ7asMeAau2vR1xTrjVm6AJm-KDrs8-_0=" class="k-card-image" width="230" height="150">

                    <div class="k-card-body spandiv">
                        <h5 class="k-card-title" id="AuditoriumName"> @list.AuditoriumName</h5>
                        <h5 class="k-card-title" id="ShowName"> @list.ShowName</h5>
                        <span hidden id="span">@list.AuditoriumID</span>
                        <h6 class="k-card-subtitle" id="ShowType">ShowType:@list.ShowType</h6>
                        <h6 class="k-card-subtitle" id="ShowTime">ShowTime:@list.ShowTimeTo</h6>

                    </div>
                    <div class="k-card-actions k-card-actions-vertical">
                        @*<span class="k-card-action">
                                <span class="k-button k-flat k-primary" data-value="View details">View Details</span>
                            </span>
                            <span class="k-card-action">
                                <span class="k-button k-flat k-primary" data-value="Contact">Contact</span>
                            </span>*@
                    </div>
                </div>
                Count++;
                rate++;
            }
        </div>
    </div>
    <div class="modal fade" id="BindDropDown" tabindex="1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:forestgreen;text-align:center">

                    <h5 style="padding-left:140px">Term & Conditions</h5>
                </div>
                <div class="modal-body">
                    <h6 class="DmodalMsg">
                        1. (No mask no entry) for your own safety, wearing face masks is compulsory for entering the cinema premises.    <br>
                        2. Temperature checks will be conducted at the cinema. Patrons with high temperature (above 37.3 c or 99.14 f) will not be allowed inside. <br>
                        3. Please maintain social distance at ticket counter, entering auditorium and canteen counter.   <br>
                        4. Due to security reason, not allowed to go out during interval.   <br>
                        5. Due to security reason, except mobile and wallet nothing is allowed inside the cinema premises including knife, lighter, match-box, firearms and all kinds of inflammable objects, <br>
                        6. Outside eatables, beverages, chewing gum, smoking cigarettes, tobacco, matchsticks, gutkha packets (pets), paan, etc. Are not allowed inside the premises. <br>
                        7. Children above the age of 2 years require tickets for `u` or `u/a` rated movies. <br>
                        8. Dear patron, inconvenience caused is deeply regretted.
                    </h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm No hbtn" data-dismiss="modal" aria-label="Close" onclick="ViewTicket()">Yes</button>
                    <button type="button" class="btn btn-danger btn-sm No hbtn" data-dismiss="modal" aria-label="Close">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="viewticket" tabindex="1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="width:580px;height:600px">
                <div class="modal-header" style="background-color:forestgreen;text-align:center">

                    <center>
                        <h5 style="margin-left: 150px; color: chartreuse">How Many Seats?</h5>
                    </center>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div>
                            <img src="https://www.bikes4sale.in/pictures/default/g-byke-birdygo/g-byke-birdygo-640.jpg" style="height:200px;width:200px;margin-left:120px" id="img" />
                        </div>
                    </div>

                    <b style="margin-top:10px;height:20px;width:20px;color:green">Choose Date:</b>
                    <input type="date" id="BookingDate" style="margin-top:10px;height:30px;border:double;border-block-color:green;border-block-end-color:green" />

                    <div class="row" style="margin-top:50px">
                        <div id="myDIV">
                            <button class="btn active" id="one" value="1">1</button>
                            <button class="btn" id="two" value="2">2</button>
                            <button class="btn " id="three" value="3">3</button>
                            <button class="btn " id="four" value="4">4</button>
                            <button class="btn " id="five" value="5">5</button>
                            <button class="btn " id="six" value="6">6</button>
                            <button class="btn " id="seven" value="7">7</button>
                            <button class="btn " id="eight" value="8">8</button>
                            <button class="btn " id="nine" value="9">9</button>
                            <button class="btn " id="ten" value="10">10</button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm No hbtn" data-dismiss="modal" aria-label="Close" onclick="ViewSeat()">Yes</button>
                    <button type="button" class="btn btn-danger btn-sm No hbtn" data-dismiss="modal" aria-label="Close">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewseat" tabindex="1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="width:580px;height:700px">
                <div class="modal-header" style="background-color:forestgreen;text-align:center">

                    <center>
                        <h5 style="margin-left: 170px; color: chartreuse">View Seats</h5>
                    </center>
                </div>
                <div class="modal-body" id="div">
                    @*<div class="row form-group">
                        <div>
                            <img src="https://www.bikes4sale.in/pictures/default/g-byke-birdygo/g-byke-birdygo-640.jpg" style="height:200px;width:200px;margin-left:120px" id="img" />
                        </div>
                    </div>*@

                    <div class="row" id="seatRows">
                        <!-- Add row elements dynamically using JavaScript -->
                    </div>



                </div>

                <div class="modal-footer">
                    <button type="button" style="height: 46px; width: 150px; display: none; margin-right: 80px "  class="btn btn-success btn-sm No hbtn" data-dismiss="modal" aria-label="Close"id="btnSubmit"></button>
                    <button type="button" style="height: 46px; width: 135px; margin-right: 52px " class="btn btn-danger btn-sm No hbtn" data-dismiss="modal"  aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    var auditoriumid;
    var AuditoriumName;
    var ShowName;
    var ShowType;
    var ShowTime;

    function OpenACC(id) {
        AuditoriumName = id.children[1].querySelector('#AuditoriumName').innerHTML;
        auditoriumid = id.children[1].querySelector('span').innerHTML;
        ShowName = id.children[1].querySelector('#ShowName').innerHTML;
        ShowTime = id.children[1].querySelector('#ShowTime').innerHTML;
        ShowType = id.children[1].querySelector('#ShowType').innerHTML;

        $('.submitConfirm').css('display', 'block');
        $('#BindDropDown').modal("show");
    }
    $("#btnSubmit").click(function () {
        debugger
        const divElement = document.getElementById('seatRows');
        const seatSpans = divElement.getElementsByClassName('selected-seat');
        const spanIds = [];
        for (let i = 0; i < seatSpans.length; i++) {
            const spanId = seatSpans[i].id;
            spanIds.push(spanId);
        }
        location.href = "/Payment/Payment?price=" + price + "&seats=" + spanIds + "&BookingDate=" + $("#BookingDate").val() + "&AuditoriumId=" + auditoriumid + "&ShowName=" + ShowName + "&ShowType=" + ShowType + "&ShowTime=" + ShowTime;
    })

   
  

    $("#btnSubmitt").click(function () {


        // Validate Booking Date
        var bookingDate = $("#BookingDate").val();
        if (bookingDate === "") {
            alert("Please select a Booking Date.");
            return;
        }

        // Validate Auditorium
        var auditoriumId = $("#AuditoriumId").val();
        if (auditoriumId === 'Select') {
            alert("Please select an Auditorium.");
            return;
        }


        const divElement = document.getElementById('seatRows');
        const seatSpans = divElement.getElementsByClassName('selected-seat');
        const spanIds = [];
        for (let i = 0; i < seatSpans.length; i++) {
            const spanId = seatSpans[i].id;
            spanIds.push(spanId);
        }
      
        var empObj = {
            BookingDate: $("#BookingDate").val(),
            AuditoriumId: auditoriumid,
            BookTickets: spanIds
        }
        // Make the AJAX request to submit the selected seats
        if (confirm("Are you sure you want to Submit?")) {
            $.ajax({
                type: "POST",
                url: "/Booking/BookTicket",
                data: empObj,
                success: function (result) {
                    if (getUrlVars()["Id"] !== undefined) {
                        alert(result);
                        location.href = "/Booking/ViewBooking";
                    } else {
                        alert(result);
                        location.href = "/Booking/ViewBooking";
                    }
                    reset();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    });
    function ViewSeat() {
        findNoOfSeat();

        $('#viewticket').css('display', 'block');
        $('#viewseat').modal("show");
        populateSeats();

    }
    function populateSeats() {
        var auditoriumId = 6;
        //$("#AuditoriumId").val();

        $.ajax({
            type: "GET",
            url: "/Booking/GetSeats",
            data: { AuditoriumId: auditoriumId },
            success: function (result) {
                var seats = JSON.parse(result);

                //Create a dictionary to store blocks, rows, and seats
                var blocks = {};

                // Group seats by block and row
                for (var i = 0; i < seats.length; i++) {
                    var seat = seats[i];
                    if (!blocks[seat.BlockId]) {
                        blocks[seat.BlockId] = {
                            BlockId: seat.BlockId,
                            BlockName: seat.BlockName,
                            Rows: {}
                        };
                    }
                    var blockRows = blocks[seat.BlockId].Rows;
                    if (!blockRows[seat.RowId]) {
                        blockRows[seat.RowId] = {
                            RowId: seat.RowId,
                            RowName: seat.RowName,
                            Seats: []
                        };
                    }
                    blockRows[seat.RowId].Seats.push(seat);
                }

                // Clear previous seat data
                $("#seatRows").empty();

                // Generate HTML for blocks in columns
                var blockContainerHtml = "<div class='block-container'>";
                var blockColumnsHtml = "";

                // Generate HTML for each block and its rows and seats
                for (var blockId in blocks) {
                    var html;
                  
                    var block = blocks[blockId];
                    if (block.BlockId == 1) {
                        html = "EXECUTIVE-Rs. 150.00"
                    }
                    else if (block.BlockId == 2) {
                        html = "PREMIUM-Rs. 170.00"
                    }
                    else if (block.BlockId == 3) {
                        html = "PLATINUM-Rs. 250.00"
                    }
                    blockColumnsHtml += "<div class='block-column'>";
                    blockColumnsHtml += "<div  class='block-header'><strong class='block-name' style='display: inline-block; text-align: center; width: 100%;' data-block-id='" + block.BlockId + "'>" + block.BlockName + "</strong>" + "<span style='background-color:#468fa5;'>" + "<strong>" + html +"</strong>" + "</span>";
               
                    blockColumnsHtml += "</div > ";
                   

                    // Generate HTML for each row in the block
                    for (var rowId in block.Rows) {
                        var row = block.Rows[rowId];
                        blockColumnsHtml += "<div class='row-seats'>";
                        blockColumnsHtml += "<strong>Row " + row.RowName+"</strong>: ";
                        // Generate HTML for seats in the row
                        var seatRowHtml = "";
                        for (var j = 0; j < row.Seats.length; j++) {
                            var seat = row.Seats[j];
                            var seatId = "seat_" + seat.RowId + "_" + seat.SeatId + "_" + block.BlockId;
                            var seatName = seat.SeatName;
                            var seatClass = "seat";
                            var seatStyle = "";

                            seatRowHtml += "<div class='seat-container'  style='display: inline-block; margin-right: 20px;'>";
                            seatRowHtml += "<span id='" + seatId + "' class='" + seatClass + "' onclick='selectSeat(this)' style='" + seatStyle + "'>";
                            seatRowHtml += "<img src='/Photos/chair-icon.png' style='width: 20px; height: 20px;' />";
                            seatRowHtml += "<span class='seat-name' style='display: block; text-align: center;'>" + seatName + "</span>";
                            seatRowHtml += "</span>";
                            seatRowHtml += "</div>";
                        }
                        blockColumnsHtml += seatRowHtml;
                        blockColumnsHtml += "</div>";
                    }
                    blockColumnsHtml += "</div>";
                }
                blockContainerHtml += blockColumnsHtml + "</div>";
                $("#seatRows").append(blockContainerHtml);

            }

        });

     

        setTimeout(function () {
            var seats = document.getElementsByClassName('seat');

            if (seats.length === 0) {
                console.log("No elements found with the class 'seat'.");
                return;
            }

            // Function to update booked seats
            function updateBookedSeats(bookingDate) {
                $.ajax({
                    type: "GET",
                    url: "/Booking/GetBookedSeatsForAuditorium",
                    data: { AuditoriumId: auditoriumid, BookingDate: bookingDate },
                    success: function (result) {
                        var bookedSeats = result;

                        $(".seat").each(function () {
                            var seat = $(this);
                            var seatId = seat.attr("id").split("_")[2];
                            var blockId = seat.closest(".block-column").find(".block-name").data("block-id");
                            var isBooked = bookedSeats.some(function (bookedSeat) {
                                return (
                                    bookedSeat.seatId == seatId &&
                                    bookedSeat.blockId == blockId
                                );
                            });
                            if (isBooked) {
                                seat.addClass("booked-seat");
                            } else {
                                seat.removeClass("booked-seat");
                            }
                        });
                    }
                });
            }

            // Event handler for BookingDate change
            $("#BookingDate").change(function () {
                var bookingDate = $(this).val();
                updateBookedSeats(bookingDate);
            });

            // Initial update of booked seats
            var initialBookingDate = $("#BookingDate").val();
            updateBookedSeats(initialBookingDate);


        }, 500);

    }
   


    var selectedSeat = 0;
    var price=0;
    function findPrice() {
        price = 0;
        const divElement = document.getElementById('seatRows');
        const seatSpans = divElement.getElementsByClassName('selected-seat');
        const spanIds = [];
        for (let i = 0; i < seatSpans.length; i++) {
            const spanId = seatSpans[i].id;
            if (spanId.split("_")[3] == 1) {
                price = price + 150;
            }
            if (spanId.split("_")[3] == 2) {
                price = price + 170;
            }
            if (spanId.split("_")[3] == 3) {
                price = price + 250;
            }
           
        }
        var button = document.getElementById("btnSubmit");
        button.innerHTML ="Pay Rs."+price+".00";

        document.getElementById("btnSubmit").style.display = 'block';
    
      
    }
    function countseat() {
        count = 0;
        const divElement = document.getElementById('seatRows');
        const seatSpans = divElement.getElementsByClassName('selected-seat');
        const spanIds = [];
        for (let i = 0; i < seatSpans.length; i++) {
            const spanId = seatSpans[i].id;
           
            spanIds.push(spanId);
        }
        selectedSeat = spanIds.length;
      
       
    }
    var NoSeat;
    function findNoOfSeat() {
        const divElement = document.getElementById('myDIV');
        const buttons = divElement.querySelectorAll('button');
        let activeButtonId;

        buttons.forEach(button => {
            if (button.classList.contains('active')) {
                NoSeat = parseInt( $("#" + button.id).val());
            }
        });
    }

    function selectSeat(seat) {
        countseat();

            var seatId = seat.id;
            var isSelected = $(seat).hasClass("selected-seat");

        if (isSelected) {
            //deduct price
            if (seatId.split("_")[3] == 1) {
                price = price - 150;
            }
            if (seatId.split("_")[3] == 2) {
                price = price - 170;
            }
            if (seatId.split("_")[3] == 3) {
                price = price - 250;
            }
            var button = document.getElementById("btnSubmit");
            button.innerHTML = "Pay Rs." + price + ".00";
            // Seat is already selected, unselect it
            $(seat).removeClass("selected-seat");
            $(seat).css("background-color", "#eaeaea");

        
            
            if (selectedSeat = 0 || price==0)

            document.getElementById("btnSubmit").style.display = 'none';
            
            //Remove the seat details from the array
            seatDetails = seatDetails.filter(function (seat) {
                return seat.SeatId !== seatId;
            });
        }
        else{
            if (selectedSeat < NoSeat) {
            // Seat is not selected, select it
            $(seat).addClass("selected-seat");
            $(seat).css("background-color", "#13f702"); // Change the seat color to indicate selection
            // Find the blockId by traversing up the DOM hierarchy
            var blockId = $(seat).closest(".block-column").find(".block-name").data("block-id");
            // Get the actual values of AuditoriumId, RowId, and SeatId
            var id = $("#Id").val();
            var bookingDate = $("#BookingDate").val();
            var userId = $("#userId").val();
            var auditoriumId = auditoriumid;

            var rowIds = [];
            var seatIds = [];

            // Loop over the selected seats and push each seat ID to the seatIds array
            $(".selected-seat").each(function () {
                var seatId = $(this).attr("id").split("_")[2];
                var rowId = $(this).attr("id").split("_")[1];

                // Push the rowId if it's not already in the rowIds array
                if (rowIds.indexOf(rowId) === -1) {
                    rowIds.push(rowId);
                }

                seatIds.push(seatId);
            });

            // Update the seatDetails object with the new values
            seatDetails = {
                Id: id,
                BookingDate: bookingDate,
                UserId: userId,
                AuditoriumId: auditoriumId,
                BlockId: blockId,
                RowId: rowIds,
                SeatId: seatIds
            };
        }//if block
            }
        
        findPrice();
    }



    document.getElementById("one").onmouseover = function () { mouseOver1() };
    function mouseOver1() {
        $("#img").attr("src", "https://m.media-amazon.com/images/I/71XDzp3+otL.jpg");
    }
    document.getElementById("two").onmouseover = function () { mouseOver2() };
    function mouseOver2() {
        $("#img").attr("src", "https://5.imimg.com/data5/ANDROID/Default/2022/2/PX/UM/UI/126579402/product-jpeg-500x500.jpg");
    }
    document.getElementById("three").onmouseover = function () { mouseOver3() };
    function mouseOver3() {
        $("#img").attr("src", "https://upload.wikimedia.org/wikipedia/commons/2/2f/Bajaj_Avenger_220_DTS-i.jpg");
    }

    document.getElementById("four").onmouseover = function () { mouseOver4() };
    function mouseOver4() {
        $("#img").attr("src", "https://imgd.aeplcdn.com/600x337/n/cw/ec/134287/2023-city-exterior-right-front-three-quarter.jpeg?isig=0&q=75");
    }

    document.getElementById("five").onmouseover = function () { mouseOver5() };
    function mouseOver5() {
        $("#img").attr("src", "https://imgd.aeplcdn.com/600x337/n/cw/ec/48542/ciaz-exterior-right-front-three-quarter-2.jpeg?q=75");
    }

    document.getElementById("six").onmouseover = function () { mouseOver6() };
    function mouseOver6() {
        $("#img").attr("src", "https://imgd.aeplcdn.com/664x374/n/cw/ec/131179/bolero-exterior-right-front-three-quarter.jpeg?isig=0&q=75");
    }

    document.getElementById("seven").onmouseover = function () { mouseOver7() };
    function mouseOver7() {
        $("#img").attr("src", "https://imgd.aeplcdn.com/0x0/n/cw/ec/140809/innova-crysta-exterior-right-front-three-quarter.png?isig=0");
    }

    document.getElementById("eight").onmouseover = function () { mouseOver8() };
    function mouseOver8() {
        $("#img").attr("src", "https://shuttlexpress.in/wp-content/uploads/2023/03/16-SEATER.png");
    }
    document.getElementById("nine").onmouseover = function () { mouseOver9() };
    function mouseOver9() {
        $("#img").attr("src", "https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/LT_471_%28LTZ_1471%29_Arriva_London_New_Routemaster_%2819522859218%29.jpg/1200px-LT_471_%28LTZ_1471%29_Arriva_London_New_Routemaster_%2819522859218%29.jpg");
    }
    document.getElementById("ten").onmouseover = function () { mouseOver10() };
    function mouseOver10() {
        $("#img").attr("src", "https://cdn.britannica.com/17/126517-050-9CDCBDDF/semi-semitrailer-truck-tractor-highway.jpg");
    }





    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
  
    function ViewTicket() {
       
        $('#BindDropDown').css('display', 'block');
        $('#viewticket').modal("show");


    }
    function BookingTicketPage(ScreenMapId) {
        /* if (confirm("Are you sure to Book?")) {*/
        location.href = "/Home/BookingTicketPage?ScreenMapId=" + ScreenMapId;
        //}
    }
</script>
<style>
    .booked-seat {
        background-color: red; /* Change the background color to your desired color */
        opacity: 0.5; /* Set the opacity to 50% */
    }
</style>