@model OHSB.Domain.ScreenMap.ScreenMapEntity
@{
    ViewData["Title"] = "ViewScreenMapp";
    Layout = "~/Views/Shared/_LayoutDynamic.cshtml";
    var ResultData = ViewBag.Result as List<OHSB.Domain.ScreenMap.ScreenMapEntity>;
}
<h1>Dashboard</h1>
