
@{
    ViewData["Title"] = "Success";
     Layout = "~/Views/Shared/_LayoutDynamic.cshtml"; 
}

<h1>Success</h1>

<p>@ViewBag.Message</p>


<u><a href="/Payment/ViewTicket" style="color:blue">Click Hear To Download The Tickets!</a></u> 